
  <div [style.width.px]="width" #sbc [@sideBarVisibility]="state" class="side-bar ui-widget-content">
    <div class="pull-left">
      side bar
    </div>
    <div [style.left.px]="sbLeft" #sb class="toggle-bar">
      <div class="toggle-bar-top"></div>
    </div>
         
  </div>

  <div #hc class="home-content">    
    <button (click)="onSideBarToggle()">{{buttonText}}</button>
    <input #input type="text">
    home content
    <br>width:
    {{width}}
    <br>
    offset left:{{offsetLeft}}
    <br>
    sb left:{{sbLeft}}
    <br>
    sb right:{{sbRight}}
  </div>


